
* {
    margin: 0;
    padding: 0;
}

.headerComp {
    background-color: rgb(203, 66, 95);
    color: rgb(236, 248, 13);
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header button {
    padding: 5px 10px;
    background: #ceced0;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    box-shadow: 0 0 5px;
    margin-bottom: 5px;
}

.header button:hover {
    background: #efeff4;
}

.footer {
    background: #03572a;
    color: rgb(240, 197, 6);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    background: #f0ec81;
    color: white;
    height: calc(600px);
    background-image: url("https://th.bing.com/th/id/OIP.FlM_A_aHF2dMkmrV_FBlgAHaD4?w=287&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px 20px;
  }
  
  .about {
    background: #84c2cc;
    height: calc(600px);
    padding: 20px 30px;
  }
  
  .login {
    background: #80e764;
    height: calc(600px);
    padding: 20px 30px;
  }

  .login h1 {
    margin-bottom: 15px;
  }

  .login input {
    font-size: 15px;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    width: 200px;
    border: 0.1px solid rgb(86, 86, 86);
  }

  .login button {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 224px;
    margin-top: 10px;
    background: #4f9ee8;
    color: white;
    border: 1px solid rgb(74, 74, 74);
  }